@import '_fonts.scss';
@import '_normalize.css';

* {font-family: 'Roboto', sans-serif; transition: all 0.5s;}

.container {
    width: 1014px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}
.nav-hrefs {
    text-decoration: none;
    color: grey;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    &:hover, &_active {
        color: #0087FF;
        border-color: #0087FF;
    }
}
.main-nav {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: -100%;
    z-index: 1;
    &_active {
        top: 0;
    }
    &__first-lvl {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 10px 150px;
    }
}

.header {
    height: 690px;
    background: url('//cdn2.hubspot.net/hubfs/486579/lp/academy/template/bg-academy.jpg') center center no-repeat;
    color: white;
    text-align: center;
    position: relative;
    &__title {
        font-size: 56px;
        font-weight: 400;
        padding-top: 200px;
        margin: 0;
    }
    &__promo-txt {
        max-width: 600px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 34px;
        font-weight: 300;
        padding-top: 60px;
    }
    &__down-btn {
        position: absolute;
        bottom: -30px;
        right: 50%;
        transform: translateX(50%) rotate(90deg);
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        padding: 0;
        color: #8831FC;
        font-size: 35px;
        box-shadow: 0 4px 12px 0 rgba(167,167,167,0.5);
        &:active, &:focus {
            outline: none;
        }
    }
}
.main {
    margin-top: 100px;
    &__content {
        flex-wrap: 2;
        flex-basis: 750px;
    }
}
.text-title {
    font-weight: 700;
    font-size: 26px;
    color: #41424E;
    margin: 0;
    margin-bottom: 30px;
    &_red {
        color: #F94545;
    }
}
.text {
    color: grey;
    font-weight: 300;
    font-size: 18px;
    &:not(:last-child) {
        margin-bottom: 60px;
    }
    &-ml30 {
        margin-left: 30px;
    }
}
.text-list {
    margin-bottom: 20px;
}
.content-table {
    border-collapse: collapse;
    margin-bottom: 60px;
    td, th {
        padding: 10px;
    }
    th:nth-child(1) {
        width: 30%;
    }
    tr:nth-child(even) {
        background-color: #CDD1D1;
    }
}
.text-hrefs {
    text-decoration: none;
    color: grey;
    &:hover {
        color: #0087FF;
    }
}
.other__nav {
    flex-wrap: 1;
    flex-basis: 220px;
    position: sticky;
    top: 70px;
    ul {
        list-style-type: none;
        padding: 0;
        padding-right: 20px;
    }
    li {
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid grey;
        display: block;
        &:hover {
            border-color: #0087FF;
        }
    }
    li.active {
        border-color: #0087FF;
    }
    a {
        text-decoration: none;
        color: grey;
        display: block;
        &:hover {
            color: #0087FF;
        }
    }
    a.active {
        color: #0087FF;
    }
}
.content-image {
    display: block;
    max-width: 100%;
}
.home {
    position: fixed;
    bottom: 60px;
    right: 60px;
    img {
        width: 60px;
        height: 60px;
    }
}