.budget {
    display: none;
    &__item {
        @include border;
        padding: 14px 40px;
        margin-bottom: 70px;
        &_bdn {
            border: none;
            position: relative;
            &::before {
                content: '';
                width: 8px;
                height: 120px;
                background: #FF7E7E;
                border-radius: 15px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 102px;
            }
        }
        &-header {
            margin-bottom: 15px;
        }
        &-value {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 14px;
        }
        &-title {
            color: $main-color;
            opacity: 0.5;
            font-size: 32px;
            &_op1 {
                opacity: 1;
                text-align: center;
                margin-bottom: 20px;
            }
        }
        &-score {
            color: $main-color-2;
            margin-left: 18px;
            font-size: 32px;
        }
        &-wrapper {
            height: 235px;
            overflow: hidden;
            margin-bottom: 10px;
        }
        &-row {
            display: flex;
            font-size: 25px;
            color: $main-color-2;
            justify-content: space-around;
            text-align: center;
            border-bottom: 1px solid $sub-color;
            &:first-child {
                font-size: 32px;
                border-bottom: 2px solid $sub-color;
                color: $main-color;
            }
        }
        &-category {
            width: 70%;
            &:hover:not(.table-name) {
                transform: translateX(-200px);
                cursor: pointer;
                &::before {
                    content: 'удалить';
                    font-size: 16px;
                    color: #DD5044;
                    position: absolute;
                    left: 440px;
                    top: 7px;
                }
            }

        }
        &-wasted {
            width: 30%;
        }
    }
    &__btns {
        display: flex;
        justify-content: space-around;
    }
}