.nav {
    min-height: 91px;
    padding-bottom: 108px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        font-size: 30px;
        color: $main-color;
        li {
            display: block;
            height: 87px;
            padding: 22px;
            &:hover {
                color: $main-color-2;
                cursor: pointer;
            }
        }
        li.active {
            border-bottom: 5px solid $sub-color;
        }
    }
}