.carousel {
    &_about {
        max-width: 437px;
    }
    &_many {
        max-width: 891px;
    }
    &_too-many {
        max-width: 97%;
        margin-top: 60px;   
    }
    &__item {
        position: relative;
        &:focus, &:active {
            outline: none;
        }
    }
    &__arrow {
        width: 69px;
        height: 51px;
        background-color: $sub-color;
        border: none;
        text-align: center;
        font-size: 42px;
        line-height: 0;
        padding-bottom: 5px;
        display: block;
        color: #000;
        position: absolute;
        right: -142px;
        &_right {
            margin-top: 5px;
            bottom: 0;
        }
        &:hover {
            background-color: $main-color;
            color: #ffffff;
        }
        &:active, &:focus {
            outline: none;
        }
        &_left {
            bottom: 56px;
        }
        &_margin-less {
            right: -104px;
        }
    }
}

@media (max-width: 1399px) {
    .carousel {
        .slick-dots {
            margin: 0 auto;
            width: 90%;
            padding: 0;
            margin-top: 49px;
            display: flex;
            justify-content: center;
            [role = presentation] {
                display: inline-block;
                list-style-type: none;
                width: 17px;
                height: 17px;
                border-radius: 100%;
                border: 2px solid $main-color;
                background-color: #fff;
                margin-right: 7px;
                cursor: pointer;
                &:last-child {
                    margin-right: 0;
                }
                button {
                    display: none;
                }
                &:hover {
                    background-color: $main-color
                }
            }
            .slick-active {
                background-color: $main-color
            }
        }
        &_about {
            margin-left: 20px;
        }
        &_many {
            max-width: 575px;
            margin-left: auto;
            margin-right: 20px;
        }
        &_too-many {
            max-width: 86%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1023px) {
    .carousel {
        &_about {
            max-width: 350px;
            img {
                width: 100%;
            }
        }
        &_many {
            max-width: 277px;
        }
        .slick-dots {
            margin-top: 18px;
        }
    }
    .just-slider .carousel {
        max-width: 73%;
    }
}

@media (max-width: 767px) {
    .carousel {
        &_about {
            max-width: 90%;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        &_many {
            max-width: 277px;
            margin: 20px auto 0;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            [role = presentation] {
                width: 10px;
                height: 10px;
                &:hover {
                    background-color: #fff
                }
            }
        }
    }
    .just-slider .carousel {
        max-width: 277px;
        img {
            width: 100%;
        }
    }
}