.examples {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__images {
        max-width: 812px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img:nth-child(3), img:nth-child(4) {
            margin-top: 24px;
        }
    }
    &_reverse {
        margin-top: 150px;
        .examples__images {
            order: 1;
        }
    }
}

@media (max-width: 1439px) {
    .examples {
        &_reverse {
            margin-top: 30px
        }
        &__wrapper {
            justify-content: flex-start;
        }
        &__images {
            justify-content: center;
            img {
                max-width: 300px;
                &:nth-child(2), &:nth-child(4) {
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .examples {
        &__wrapper {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__images {
            width: 100%;
            justify-content: center;
            order: 1;
        }
        .text__descr {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 767px) {
    .examples {
       margin-bottom: 30px;
       &__images {
           justify-content: center;
           max-width: 520px;
        img {
            max-width: 46%;
        }
    }
    }
}