.form { //сама форма в другом блоке застилизована main-form
    padding: 100px 0 100px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    &__address {
        width: 566px;
        min-height: 616px;
        background-color: $main-color;
        margin-top: 36px;
        margin-bottom: 0;
        padding: 69px 0 0 67px;
        &-item {
            margin-bottom: 20px;
        }
        &-descr {
            color: #ffffff;
            font-size: 18px
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
        margin-bottom: 20px;
    }
}

@media (max-width: 1439px) {
    .form {
        &__wrapper {
            justify-content: space-around;
        }
        &__address {
            max-width: 450px;
            padding: 38px 58px;
        }
    }
}

@media (max-width: 1023px) {
    .form {
        &__wrapper {
            justify-content: space-around;
            align-items: stretch;
        }
        &__address {
            min-height: 475px;
            max-width: 350px;
            padding: 15px 18px;
            &-descr {
                font-size: 14px;
            }
        }
        &__title {
            font-size: 20px;
        }
    }
}

@media (max-width: 767px) {
    .form {
        padding-top: 30px;
        padding-bottom: 0;
        &__block_right {
            margin-top: 30px;
        }
        &__wrapper {
            flex-wrap: wrap;            
        }
        &__address {
            min-height: 475px;
            max-width: 320px;
            padding: 15px 18px;
        }
    }   
}