.header {
    min-height: 64px;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 93px 0 32px;
    &__logo {
        &-txt {
            margin-left: 19px;
        }
    }
    &__refs {
        display: flex;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        height: 20px;
    }
    .phone {
        &_2 {
            margin-left: 20px;
        }
    }
    &__nav {
        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            justify-content: space-between;
            li {
                margin-left: 20px;
            }
        }
    }
}