.just-slider {
    padding: 100px 0;
}

@media (max-width: 767px) {
    .just-slider {
        padding-top: 0;
        padding-bottom: 20px;
        &_mb50 {
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
}