.promo {
    background: url(../img/bg/bg-1.jpg) no-repeat;
    background-size: cover;
    min-height: 819px;
    padding-bottom: 151px;
    &__block {
        background-color: rgba(0, 0, 0, 0.8);
        width: 565px;
        min-height: 353px;
        margin-top: 250px;
        color: #ffffff;
        padding: 30px 64px 30px 32px;
    }
    &__title {
        font-size: 24px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 16px;
    }
    &__refs {
        display: block;
        margin-bottom: 20px;
        &:nth-child(4) {
            margin-bottom: 33px;
        }
        &:hover {
            color: $main-color;
        }
    }
}

@media (max-width: 1439px) {
    .promo {
        &__block {
            margin: 250px auto 0;
        }
    }
}

@media (max-width: 1023px) {
    .promo {
        &__refs:hover {
            color: #fff;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        background: #fff;
        min-height: 0;
        padding: 0;
        &__block {
            display: none;
        }
    }
}