.process {
    padding-bottom: 100px;
    &__wrapper {
        margin-top: 100px;
        width: 100%;
        height: 430px;
        background: url(../img/bg/bg-2.png) center (center / cover) no-repeat;
    }
}

@media (max-width: 1439px) {
    .process {
        &__wrapper {
            background-size: contain;
            margin: 0;
        }
        .text__title {
            margin-left: 20px;
        }
    }
}

@media (max-width: 767px) {
    .process {
        padding-bottom: 30px;
        &__wrapper {
            height: 100px;
        }
        .text__title {
            text-align: center;
            margin-left: 0;
        }
    }
}