.sale {
    width: 100%;
    height: 238px;
    background-color: $main-color;
    padding: 23px 0 40px 100px;
    &__text {
        display: flex;
        width: 580px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1070px;
    }
    &__item {
        flex: 1 0 50%;
        display: flex;
        margin-top: 19px;
        &-icon {
            transform: scale(-1, 1);
            margin-right: 20px;
        }
        &-descr {
            font-weight: 300;
            font-size: 18px;
            color: #ffffff;
        }
    }
}

@media (max-width: 1023px) {
    .sale {
        padding-left: 16px;
    }
}

@media (max-width: 767px) {
    .sale {
        padding-left: 9px;
        padding-right: 9px;
        .text__title {
            font-size: 15px;
        }
        &__text {
            max-width: 100%;
            justify-content: space-around;
        }
        &__item-descr {
            font-size: 10px;
        }
        &__icon {
            width: 70px;
            height: 58px;
        }
    }
}