.text {
    &_about {
        max-width: 726px;
        margin-top: 100px;
    }
    &_small {
        max-width: 268px;
        margin-right: 30px;
    }
    &_medium {
        .text__descr {
            max-width: 292px;
        }
    }
    &_white {
        color: #ffffff;
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
    }
    &__descr {
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
    }
}

@media (max-width: 1439px) {
    .text {
        &_about {
            max-width: 512px;
        }
        &_small {
            max-width: 468px; 
            margin-left: 20px;
        }
        &_medium {
            .text__descr {
                max-width: 447px;
            }
            margin-left: 20px;
        }
    }

    
    .just-slider .text__title {
        margin-left: 71px;
    }
}

@media (max-width: 1023px) {
    .text {
        &_about {
            max-width: 373px;
        }
        &_small {
            max-width: 468px; 
        }
        &_medium {
            .text__descr {
                max-width: 467px;
            }
        }
        &__title {
            font-size: 30px;
        }
    }
    .just-slider .text__title {
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .text {
        &_about {
            max-width: 90%;
            margin: 35px auto 0;
        }
        &_small {
            max-width: 90%; 
            margin: 15px auto 0;
        }
        &_medium {
            max-width: 90%;
            margin: 0 auto;
        }
        &__title {
            font-size: 22px;
        }
        &__descr {
            font-size: 14px;
        }
    }
}