.we-doing {
    padding-bottom: 100px;
    &__wrapper {
        display: flex;
    }
}

@media (max-width: 767px) {
    .we-doing {
        &__wrapper {
            flex-wrap: wrap;
        }
        padding-bottom: 20px;
    }
}